<div class="intro">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
                <p>El <strong>Score Bebé</strong> es una puntuación numérica que permite estimar el riesgo de muerte neonatal en el Ecuador. Este cuestionario le ayudará a medir el riesgo potencial de eventos adversos neonatales.</p>
<p>Sus respuestas y la puntuación del Score Bebé servirán para facilitar la categorización del riesgo (alto, moderado, bajo y muy bajo) y adecuar las intervenciones más apropiadas y oportunas para el beneficio del neonato.<br>
El personal de salud debe manejar a los neonatos tal y como señalan las normas de atención neonatal vigentes.</p>
<p><span style="color: #069efd;">Para revisar las normativas de atención infantil vigentes, consulte:  <a href="https://www.salud.gob.ec" target="_blank">www.salud.gob.ec</a></span></p>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <p (click)="close()" style="color: #069efd; cursor: pointer"><strong>CERRAR</strong></p>
        </div>
      </div>
    </div>
  </div>
