<div *ngIf="mensaje === 'OK'">
    <h2 mat-dialog-title>Validación exitosa!!</h2>
    <mat-dialog-content>
        <p>Se ha enviado una nueva contraseña a su correo.</p>
        <p>Recuerde revisar su carpeta de spam</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Cerrar</button>
    </mat-dialog-actions>
    </div>
    <div *ngIf="mensaje !== 'OK'">
        <h2 mat-dialog-title>Ha ocurrido un error!</h2>
        <mat-dialog-content>
            <p>{{mensaje_err}}</p>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button class="mat-raised-button"(click)="close()">Cerrar</button>
        </mat-dialog-actions>
    </div>
