<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0f5992;" *ngIf="authService.loggedIn()">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto" style="font-size:18px; font-weight: bold; color: white">
      <li class="nav-item">
        <a (click)="authService.logoutUser()" >Logout</a>
      </li>
      <li class="nav-item">
        <a (click)="onGotoInicioInstr()">Inicio</a>
      </li>
    </ul>
  </div>
</nav>

<div class="cont-logos" *ngIf="mostrarLogo">
    <div class="container">
      <div class="col-md-12">
      <img src="http://scorebebe.com/img/logos-header.jpg" (click)="onGotoInicioInstr()">
      </div>
    </div>
  </div>

  <div *ngIf="mostrarDesc">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>SCORE BEBÉ</h2>
          <p>Versión preliminar</p>
          <p><a (click)="showIntro()" style="cursor: pointer;">Comenzar Test</a></p>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
</div>



  <div class="intro" *ngIf="mostrarIntro">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
                <p>El <strong>Score Bebé</strong> es una puntuación numérica que permite estimar el riesgo de muerte neonatal en el Ecuador. Este cuestionario le ayudará a medir el riesgo potencial de eventos adversos neonatales.</p>
<p>Sus respuestas y la puntuación del Score Bebé servirán para facilitar la categorización del riesgo (alto, moderado, bajo y muy bajo) y adecuar las intervenciones más apropiadas y oportunas para el beneficio del neonato.<br>
El personal de salud debe manejar a los neonatos tal y como señalan las normas de atención neonatal vigentes.</p>
<p><span style="color: #069efd;">Para revisar las normativas de atención infantil vigentes, consulte:  <a href="https://www.salud.gob.ec" target="_blank">www.salud.gob.ec</a></span></p>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <p (click)="showInstrucciones()" style="color: #069efd; cursor: pointer"><strong>Siguiente</strong></p>
        </div>
      </div>
    </div>
  </div>

<!--contenedor-->
<div class="instrucciones"  #instrucciones id="instrucciones" *ngIf="mostrarInstrucciones">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>INSTRUCCIONES</h3>
        </div>
        <div class="col-md-8">
          <p>Para llenar el cuestionario haga clic en cada pregunta que se presenta a continuación, y marque con una marca (X) en la casilla que mejor describa el estado actual del neonato. Al finalizar, podrá visualizar el puntaje total del Score Bebé, su categoría de riesgo y sugerencias de manejo.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <a (click)="showForm()" style="cursor:pointer;">comenzar evaluación</a>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="scoreBebeTest" (ngSubmit)="showTestResult()" class="formTest" *ngIf="mostrarFormulario">
<div class="formulario-sb" *ngIf="showFormulario[0]"  style="height: 100%;">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <p style="padding-bottom: 10px;"><strong>Ingrese los siguientes datos para continuar:</strong></p>
          </div>
        </div>
          <div class="row">
              <div class="col-md-12">
                <p>Sexo:</p>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="sexo">
                  <option value="femenino">Femenino</option>
                  <option value="masculino">Masculino</option>
                </select><br>
                <p>Fecha de Nacimiento:</p>
                <input type="text" class="form-control" name="fechaNacimiento" formControlName = "fechaNacimiento" type="date" placeholder="Fecha de nacimiento"><br>
                <p>Hora de Nacimiento: (ingrese en formato de 24 horas)</p>
                <div class="ngx-timepicker-field-example">
                  <ngx-timepicker-field [format]="24"
                  [defaultTime]="'00:00'"
                  name="horaNacimiento" formControlName="horaNacimiento"
                  ></ngx-timepicker-field>
                </div><br>
                <input type="text" class="form-control" placeholder="Apellido Materno Neonato" formControlName="nombreApellido" name="nombreApellido" placeholder="Apellido Materno Neonato"><br>
                <input type="number" class="form-control" formControlName="pesoNacimiento" name="pesoNacimiento" placeholder="Peso al nacer (en gramos)"><br>
                <input type="number" class="form-control" formControlName="edadGestional" name="edadGestional" placeholder="Edad gestional al nacer (en semanas)"><br>
                <p>Nivel de atención:</p>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="nivelAtencion">
                  <option  value="primer">Primer Nivel de Atención</option>
                  <option  value="segundo">Segundo Nivel de Atención</option>
                  <option  value="tercer">Tercer Nivel de Atención</option>
                </select>
              </div>
            </div><br>
            <span *ngIf="!scoreBebeTest.valid" class="help-block">Recuerde llenar todos los campos para continuar</span>
            <div class="continuar-invalid" *ngIf="!scoreBebeTest.valid">
                <a>continuar</a>
              </div>
              <div class="continuar" *ngIf="scoreBebeTest.valid">
                <a (click)="continueFormulario(0)"  >continuar</a>
              </div>
              <div class="continuar">
                <a (click)="showInstrucciones()"  >Regresar a Instrucciones</a>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <i class="fas fa-home center fa-3x" (click)="onGotoInicioInstr()" ></i>
                  <p class="center" >Regresar a HOME</p>
                </div>
              </div>


      </div><!-- col-md-8 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- container-form -->
<!-- antes de empezar uno -->


<div class="formulario-sb" *ngIf="showFormulario[1]" >
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8 antesde">

            <h4>Antes de empezar, haga click, seleccione cada característica o antecedente que el neonato presente:</h4>

            <div class="form-group">
              <h5>Factores de riesgo inminente para el neonato que requieren estabilización inmediata y/o transferencia urgente:</h5><br>
                <div class="form-check" formArrayName="factorRiesgoInminente" *ngFor="let factor of scoreBebeTest.controls.factorRiesgoInminente.controls; let i = index">
                  <input class="form-check-input" type="checkbox" [formControlName]="i" [id]="factoresRiesgoInminente[i].id">
                  <label class="form-check-label" [for]="factoresRiesgoInminente[i].id" >
                  {{factoresRiesgoInminente[i].value}}
                  </label>
                </div>
            </div>
            <p style="text-align: center; padding: 10px; color:black">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p>
                <div class="continuar" *ngIf="!terminado">
                  <a (click)="continueFormulario(1)">continuar</a>
                </div>
                <div class="finalizar" *ngIf="terminado">
                  <a (click)="finalizarTest()">FINALIZAR</a>
                </div>
                <div class="continuar">
                  <a (click)="returnFormulario(1)">regresar</a>
                </div>

        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container-form -->


  <!-- fin antes de empezar uno -->

<!-- antes de empezar dos -->


  <div class="formulario-sb" *ngIf="showFormulario[2]" >
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8 antesde">

            <div class="form-group">
              <h5>Factores que podrí­an incrementar el riesgo:</h5><br>
              <p style="color: red">SI NO TIENE ALGUNA DE ESTAS CARACTERÍSTICAS PRESIONE CONTINUAR</p>
                <div class="form-check" formArrayName="factorRiesgoIncrementa" *ngFor="let factor of scoreBebeTest.controls.factorRiesgoIncrementa.controls; let i = index">
                  <input class="form-check-input" type="checkbox" [formControlName]="i" [id]="factoresRiesgoAumenta[i].id">
                  <label class="form-check-label" [for]="factoresRiesgoAumenta[i].id">
                     {{factoresRiesgoAumenta[i].value}}
                  </label>
                </div>

                </div><!-- form group -->
                <p style="text-align: center; padding: 10px">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p>
                <div class="continuar">
                  <a (click)="continueFormulario(2)">continuar</a>
                </div>
                <div class="continuar">
                  <a (click)="returnFormulario(2)">regresar</a>
                </div>

        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container-form -->


<!-- fin antes de empezar dos -->

<!-- antes de empezar tres -->


  <div class="formulario-sb" *ngIf="showFormulario[3]" >
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8 antesde">

            <div class="form-group">
              <h5>Factores que podrían reducir el riesgo del neonato:</h5><br>
              <p style="color: red">SI NO TIENE ALGUNA DE ESTAS CARACTERÍSTICAS PRESIONE CONTINUAR</p>
              <div class="form-check" formArrayName="factorRiesgoReduce" *ngFor="let factor of scoreBebeTest.controls.factorRiesgoReduce.controls; let i = index">
                  <input class="form-check-input" type="checkbox" [formControlName]="i" [id]="factoresRiesgoReduce[i].id">
                  <label class="form-check-label" [for]="factoresRiesgoReduce[i].id">
                      {{factoresRiesgoReduce[i].value}}
                  </label>
                </div>

                </div><!-- form group -->
                <p style="text-align: center; padding: 10px">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p>
                <div class="continuar">
                  <a (click)="continueFormulario(3)">continuar</a>
                </div>
                <div class="continuar">
                  <a (click)="returnFormulario(3)">regresar</a>
                </div>

        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container-form -->


<!-- fin antes de empezar tres -->



<!-- pregunta numero uno -->


  <div class="formulario-sb" *ngIf="showFormulario[4]" >
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">

              <h3>Clasificación clí­nica de la edad gestacional.</h3>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="edad" id="edad1" value="edad1" formControlName="edad">
                  <label class="form-check-label" for="edad1">
                    Extremadamente prematuro (< 28 semanas)
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="edad" id="edad2" value="edad2" formControlName="edad">
                  <label class="form-check-label" for="edad2">
                    Muy prematuro (28 a < 32 semanas)
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="edad" id="edad3" value="edad3" formControlName="edad">
                  <label class="form-check-label" for="edad3">
                    Prematuro moderado (32 a < 35 semanas)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="edad" id="edad4" value="edad4" formControlName="edad">
                  <label class="form-check-label" for="edad4">
                    A término temprano (35 a < 37 semanas)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="edad" id="edad5" value="edad5" formControlName="edad">
                  <label class="form-check-label" for="edad5">
                    A término temprano (37 a < 38 semanas)
                  </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="edad" id="edad6" value="edad6" formControlName="edad">
                    <label class="form-check-label" for="edad6">
                      A término completo (38 a < 41 semanas)
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="edad" id="edad7" value="edad7" formControlName="edad">
                    <label class="form-check-label" for="edad7">
                      Post término (>= 41 semanas)
                    </label>
                  </div>
                </div><!-- form group -->
                <p style="text-align: center; padding: 10px">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p>
                <div class="continuar">
                  <a (click)="continueFormulario(4)">continuar</a>
                </div>
                <div class="continuar">
                  <a (click)="returnFormulario(4)">regresar</a>
                </div>

        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container-form -->


<!-- pregunta numero uno -->

<!-- pregunta numero dos -->

<div class="formulario-sb"  *ngIf="showFormulario[5]">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">

           <h3>peso al nacer</h3>
                <div class="form-group">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="peso" id="peso1" value="peso1" formControlName="peso">
                  <label class="form-check-label" for="peso1">
                    < 750 g al nacer
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="peso" id="peso2" value="peso2" formControlName="peso">
                  <label class="form-check-label" for="peso2">
                    750 a < 1000 g al nacer
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="peso" id="peso3" value="peso3" formControlName="peso">
                  <label class="form-check-label" for="peso3">
                    1000 a < 1500g al nacer
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="peso" id="peso4" value="peso4" formControlName="peso">
                  <label class="form-check-label" for="peso4">
                    1500 a < 2000g al nacer
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="peso" id="peso5" value="peso5" formControlName="peso">
                  <label class="form-check-label" for="peso5">
                    2000 a < 2500g al nacer
                  </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="peso" id="peso6" value="peso6" formControlName="peso">
                    <label class="form-check-label" for="peso6">
                      2500 a < 4000g al nacer
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="peso" id="peso7" value="peso7" formControlName="peso">
                    <label class="form-check-label" for="peso7">
                      4000 o más g al nacer
                    </label>
                  </div>
                </div><!-- form group -->
                <p style="text-align: center; padding: 10px">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p>
                <div class="continuar">
                  <a (click)="continueFormulario(5)">continuar</a>
                </div>
                <div class="continuar">
                  <a (click)="returnFormulario(5)">regresar</a>
                </div>

        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container-form -->

<!-- fin pregunta numero dos -->

<!-- pregunta numero tres -->

<div class="formulario-sb"  *ngIf="showFormulario[6]">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">

            <h3>Centil de peso al nacer para edad gestacional</h3>
            <!--<div class="calcula">
                  <a href="http://intergrowth21.ndog.ox.ac.uk/es/ManualEntry" target="_blank">CALCULE EL PERCENTIL DEL PESO PARA LA EDAD GESTACIONAL AQUÍ</a>
                </div><br>-->
                <div style="display: flex;">
                  <p>CALCULE EL PERCENTIL DEL PESO PARA LA EDAD GESTACIONAL </p><button><a href="http://intergrowth21.ndog.ox.ac.uk/es/ManualEntry" target="_blank">AQUÍ</a></button>
                </div>
                <div class="form-group">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="centil" id="centil1" value="centil1" formControlName="centil">
                  <label class="form-check-label" for="centil1">
                    Percentil 5 al 95
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="centil" id="centil2" value="centil2" formControlName="centil">
                  <label class="form-check-label" for="centil2">
                    < Percentil 5
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="centil" id="centil3" value="centil3" formControlName="centil">
                  <label class="form-check-label" for="centil3">
                    > Percentil 95
                  </label>
                </div>

                </div><!-- form group -->
                <p style="text-align: center; padding: 10px">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p>
                <div class="continuar">
                  <a (click)="continueFormulario(6)">continuar</a>
                </div>
                <div class="continuar">
                  <a (click)="returnFormulario(6)">regresar</a>
                </div>

        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container-form -->

<!-- fin pregunta numero tres -->



<!-- pregunta numero cuatro -->

<div class="formulario-sb"  *ngIf="showFormulario[7]">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">

           <h3>Apgar a los 5'</h3>
                <div class="form-group">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="apgar" id="apgar1" value="apgar1" formControlName="apgar">
                  <label class="form-check-label" for="apgar1">
                    Tranquilizante (7 a 10), n (%)
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="apgar" id="apgar2" value="apgar2" formControlName="apgar">
                  <label class="form-check-label" for="apgar2">
                    Moderado (4 a 6), n (%)
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="apgar" id="apgar3" value="apgar3" formControlName="apgar">
                  <label class="form-check-label" for="apgar3">
                    Bajo (0 a 3), n (%)
                  </label>
                </div>

                </div><!-- form group -->
                <p style="text-align: center; padding: 10px">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p>
                <div class="continuar">
                  <a (click)="continueFormulario(7)">continuar</a>
                </div>
                <div class="continuar">
                  <a (click)="returnFormulario(7)">regresar</a>
                </div>

        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container-form -->

<!-- fin pregunta numero cuatro -->

<div class="formulario-sb"  *ngIf="showFormulario[8]">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">

          <h3>Tipo de Parto</h3>
              <div class="form-group">

              <div class="form-check">
                <input class="form-check-input" type="radio" name="parto" id="parto1" value="parto1" formControlName="parto">
                <label class="form-check-label" for="parto1">
                 Cesárea
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="parto" id="parto2" value="parto2" formControlName="parto">
                <label class="form-check-label" for="parto2">
                  Parto vaginal eutócico
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="parto" id="parto3" value="parto3" formControlName="parto">
                <label class="form-check-label" for="parto3">
                  Parto distócico vaginal
                </label>
              </div>
              </div>
              <p style="text-align: center; padding: 10px">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p><!-- form group -->
   <div class="continuar">
                <a (click)="continueFormulario(8)">continuar</a>
              </div>
              <div class="continuar">
                <a (click)="returnFormulario(8)">regresar</a>
              </div>
      </div><!-- col-md-8 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- container-form -->




<!-- pregunta numero cinco -->

<div class="formulario-sb"  *ngIf="showFormulario[9]">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h3>Comorbilidades</h3>
            <div class="form-group">
                <div class="form-check" formArrayName="comorbilidades" *ngFor="let factor of scoreBebeTest.controls.comorbilidades.controls; let i = index">
                  <input class="form-check-input" type="checkbox" [formControlName]="i" [id]="comorbilidades[i].id">
                  <label class="form-check-label" [for]="comorbilidades[i].id" >
                  {{comorbilidades[i].value}}
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="comor" id="comor" value="comor" formControlName="comor">
                    <label class="form-check-label" for="comor">
                     Sin comorbilidades
                    </label>
                  </div>
            </div>
            <p style="text-align: center; padding: 10px">PREGUNTA {{currentQuestionIndex}} de {{showFormulario.length - 1}}</p>
      <button type="submit" class="btn btn-primary" [disabled]="!scoreBebeTest.valid">ver resultado</button>
      <div class="continuar">
        <a (click)="returnFormulario(9)">regresar</a>
      </div>
      <div class="row">
        <div class="col-md-12">
          <i class="fas fa-home center fa-3x" (click)="onGotoInicioInstr()"></i>
          <p class="center" >Regresar a HOME</p>
        </div>
      </div>
        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- container-form -->
<!-- fin pregunta numero cinco -->
</form>
