<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<body class="home page-template-default page page-id-13 header-style2-right-menu wide vc_being_used ivan-vc-enabled wpb-js-composer js-comp-ver-4.11.2.1 vc_responsive ivan-main-layout-normal">



	
  <div id="all-site-wrapper" class="hfeed site">
  
    <a href="#" id="back-top">
      <i class="fa fa-angle-up " style=""></i>
    </a>
      
          <div class="negative-push"></div>
      
      
    <div class="title-wrapper-divider blog-version"></div>		
      
    <div class="iv-layout content-wrapper content-full  no-title-wrapper">
      <div class="container">
  
        
          <div class="row">
  
            <div class="col-xs-12 col-sm-12 col-md-12 site-main" role="main">
  
              
    
      
  <article id="post-13" class="post-13 page type-page status-publish hentry">
    <div class="entry-content">
      
  
  <router-outlet></router-outlet>

        </div><!-- .entry-content -->
  </article><!-- #post-## -->		
      
                
            </div>
  
          </div>
  
        
      </div>
    </div>
  <app-footer></app-footer>
  </div>