	
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0f5992;" *ngIf="authService.loggedIn()">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto" style="font-size:18px; font-weight: bold;">
      <li class="nav-item">
        <a (click)="authService.logoutUser()">Logout</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/homepage'">Inicio</a>
      </li>
    </ul>
  </div>
</nav>
 <div id="all-site-wrapper" class="hfeed site">
  
    <a href="#" id="back-top">
      <i class="fa fa-angle-up " style=""></i>
    </a>
      
          <div class="negative-push"></div>
      
      
    <div class="title-wrapper-divider blog-version"></div>		
      
    <div class="iv-layout content-wrapper content-full  no-title-wrapper">
      <div class="container">
  
        
          <div class="row">
  
            <div class="col-xs-12 col-sm-12 col-md-12 site-main" role="main">
  
              
    
      
  <article id="post-13" class="post-13 page type-page status-publish hentry">
    <div class="entry-content">
<br><br><br>
<h2>Bienvenido Administrador</h2>
<br>
<br>
<p>Elige la opción que deseas visualizar</p>
<br>
<br>
<br>
<button class="btn-primary" [routerLink]="['/activar-usuarios']">Activar Usuarios</button>
<button class="btn-primary"[routerLink]="['/resultados-test']">Ver Resultados</button>
<br><br> <br><br><br><br>

</div><!-- .entry-content -->
</article><!-- #post-## -->		
    
              
          </div>

        </div>

      
    </div>
  </div>
</div>