.btn-invalid {
  cursor: not-allowed !important;
}

.help-block {
  color: #069efd;
  font-weight: bold;
  padding: 0;
  letter-spacing: 0px;
  margin-bottom: 0px !important;
}

.condition label::before{
    display: inline-block !important;
    height: 20px;
    width: 20px;
    white-space: nowrap;
}

.terminos-label {
  color: black;
  font-size: small;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.center-div {
  margin-left: auto !important;
  white-space: nowrap !important;
}

.btn-inactive {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.btn-active {
  opacity: 1;
  cursor: pointer !important;
}

