<div class="container">
    <h4>Instrucciones: Score BB Alpha para Android</h4>
    <ol class="">
        <li class=""> Descargue el App, si la descarga no inicia automáticamente, de <a href="https://score-bebe-entregables-mov.s3.us-east-2.amazonaws.com/scorebebe.apk" download>click aquí</a>. </li>
        <li class="">Sigue los pasos que aparecen en pantalla. Según la fuente, es posible que debas presionar Aceptar
            Instalar.
        </li>
        <p><strong>Si no tienes activada la opción de “Fuentes Desconocidas”:</strong></p>
        <li class="">En el mensaje que se abre, presiona <strong>Configuración</strong> .</li>
        <li class="">Activa Confiar en esta fuente. Si no ves la opción <strong>"Confiar en esta fuente"</strong> ,
            significa que usas
            otra
            versión de Android. En la opción "Seguridad" de Configuración, activa <strong>Fuentes desconocidas.</strong>
        </li>
    </ol>
</div>

<div class="class text-right">
    <button type="button" class="btn btn-info m-2 " (click)="close()">Salir</button>
</div>
