<!--INICIO LOGO-->
<!--<div class="cont-logos" *ngIf="mostrarLogo">-->
    <div class="cont-logos">
        <div class="container">
            <div class="col-md-12">
                <img src="https://scorebebe.com/assets/img/logos-header.jpg" [routerLink]="['/homepage']"
                    style="cursor: pointer;">
            </div>
        </div>
    </div>
    <!--FIN LOGO-->
    <!-- INCIO INSTRUCCIONES-->
    <div class="instrucciones_landing" #instrucciones id="instrucciones">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12"><img src="./../../assets/img/celulares2.png" alt="" style="width: 100%; height:auto; padding-top: 40px">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 iconos-mobil">
                    <h2 style="color: #fff;">Score Bebé Mobile</h2 >
                    <h4 style="color: #fff; text-align: justify;">Las funcionalidades de Score Bebé optimizadas para su teléfono móvil.</h4>
                    <p> Seleccione su sistema operativo: </p>
                    <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="display: flex;">
                        <i class="fab fa-android fa-2x" style="color: #ffffff; padding-right: 15px;"></i>
                        <a (click)="openDialogAndroid()" style="cursor:pointer; margin: 0px;" href="https://score-bebe-entregables-mov.s3.us-east-2.amazonaws.com/scorebebe.apk" download>Android</a>
                        <i class="fab fa-apple fa-2x " style="color: #ffffff; padding-right: 15px;  padding-left: 15px;"></i>
                        <a (click)="openDialogIos()" class="px-20 mx-20" style="cursor:pointer; margin: 0px; padding-right: 42px; padding-left: 42px;" >IOS</a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FIN INSTRUCCIONES-->
