/*#####################################
instrucciones_landing
#####################################*/
.instrucciones_landing {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    background-color: #0a94fd !important;
    height: 700px;
  }

  .instrucciones_landing h3 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 38px;
  }

  .instrucciones_landing p {
    font-size: 19px;
    text-align: left;
    line-height: 28px;
    font-weight: 300;
    color: #fff !important;
  }

  .instrucciones_landing p span {
    font-size: 15px;
    font-weight: 400;
  }

  .instrucciones_landing a {
    background: #fff;
    color: #0a94fd;
    padding: 10px 20px;
    margin-top: 20px;
    position: relative;
    display: table;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
  }

  .iconos-mobil {
    padding-top: 100px;
  }

  @media only screen and (max-width: 600px) {
    .iconos-mobil {
      padding-top: 3px !important;
    }
  }

