<div *ngIf="mensaje === 'OK'">
  <h2 mat-dialog-title>Cambio exitoso!!</h2>
  <mat-dialog-content>
      <p>Su contraseña se ha actualizado correctamente</p>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button class="mat-raised-button"(click)="close()">Cerrar</button>
  </mat-dialog-actions>
  </div>
  <div *ngIf="mensaje !== 'OK'">
      <h2 mat-dialog-title>Ha ocurrido un error!</h2>
      <mat-dialog-content>
          <p>{{mensaje_err}}</p>
      </mat-dialog-content>
      <mat-dialog-actions>
          <button class="mat-raised-button"(click)="close()">Cerrar</button>
      </mat-dialog-actions>
  </div>
