<div class="container">
    <h4>Instrucciones: Score BB Alpha para iOS</h4>
    <ol class="">
        <li class=""> Abra Safari y acceda a  <a
                href="https://www.scorebebe.com">https://www.scorebebe.com</a> </li>
        <li class="">Pulse el botón de compartir (el icono central de barra inferior).</li>
        <li class="">Seleccione "Añadir a la pantalla de inicio".</li>
        <li class="">Verifique los datos del App.</li>
        <li class="">Pulse "Añadir". </li>

    </ol>
</div>

<div class="class text-right">
    <button type="button" class="btn btn-info m-1 " (click)="close()">Salir</button>
</div>
