<br><br><br><br><br><br>
<h2>Lista de usuarios</h2>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-3">
  <p>Nombre: </p>
</div>
  <div class="col-md-3">
    <p>Institucion</p>
  </div>
</div>
<div class="row" *ngFor="let usuario of usuarios">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <p>{{usuario.nombre}}</p>
    </div>
      <div class="col-md-3">
        <p>{{usuario.institucion}}</p>
      </div>
      <div class="col-md-3">
        <button class="btn-primary" (click)="onActivarUsuario(usuario.username)" *ngIf="!usuario.activo">Activar</button>
      </div>
    </div>
<br><br><br><br><br><br>
