.help-block {
  color: #069efd;
  font-weight: bold;
}
.enviar-btn {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.enviar-btn-ok {
  opacity: 1;
  cursor: pointer;
}

h2 {
  font-size: 2.5rem;
}
