<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0f5992;" *ngIf="_authService.loggedIn()">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto" style="font-size:18px; font-weight: bold;">
      <li class="nav-item">
        <a (click)="_authService.logoutUser()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="cont-logos">
    <div class="container">
      <div class="col-md-12">
      <img src="https://scorebebe.com/assets/img/logos-header.jpg">
      </div>
    </div>
  </div>

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>SCORE BEBÉ</h2>
          <p>Versión Alpha 1.0</p>
          <p *ngIf="!_authService.loggedIn()"><a [routerLink]="'/login'">Login</a></p><br>
          <!-- <p *ngIf="!_authService.loggedIn()"><a [routerLink]="'/signup'">Registrarse</a></p> -->
          <p *ngIf="_authService.loggedIn()"><a [routerLink]="'/test'">Comenzar Test</a></p>
        </div>
        <div class="col-md-6">

        </div>
        <div>
        <!-- <p class="p-landing" [routerLink]="['/landing']" style="margin: 0px !important;">Obtenga la versión mobile</p>
        <p class="link-landing" [routerLink]="['/landing']">AQUÍ</p> -->
      </div>
      </div>
    </div>
  </div>
  <div style="display: flex; padding-bottom: 2px; color: grey">
  <p class="p-landing" [routerLink]="['/landing']">Obtenga la versión mobile AQUÍ</p><i class="fas fa-mobile-alt" style="padding-left: 10px;"></i>
  </div>
<div class="iv-layout bottom-footer two-columns " style="height:20px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 bottom-footer-left-area ">
        <div class="iv-module custom-text ">
          <div class="centered">
            <!--

              <p style="text-align: center;">© Copyright 2018 Universidad Católica de Ecuador. Todos los derechos reservados. Diseño y desarrollo Optimus Social.</p>
            -->
            <p _ngcontent-c1="" style="text-align: justify; ">©
                Copyright 2018 Pontificia Universidad Católica de Ecuador. Armijos L, Jimbo R, Sánchez X, Sevilla C, Rivadeneira MF, Tello B, Vivas L, Dueñas-Espín I.
                Determinants of newborn mortality and development and validation of the risk model “Score Bebé.” In: I Congreso Internacional de Salud Pública, Desigualdades e
                Investigación, V Encuentro Internacional de Investigación En Enfermedades Infecciosas y Medicina Tropical.; 2018:145. Todos los derechos reservados. Diseño y
                desarrollo Optimus Social.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
