<div  class="ivan-custom-wrapper theme_default "  style="padding-top: 0px;padding-bottom: 0px;margin-top: 0px;margin-bottom: 0px;">
  <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_column-gap-35">
<div class="vc_col-sm-12 wpb_column vc_column_container "  data-wow-delay="0ms">
<div class="wpb_wrapper">
  
</div> <!-- END .wpb_wrapper -->
</div> <!-- END  wpb_column vc_column_container  -->
</div><div class="vc_row-full-width vc_clearfix"></div></div><div  class="ivan-custom-wrapper theme_default "  style="padding-top: 0px;padding-bottom: 0px;margin-top: 0px;margin-bottom: 0px;"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid banner vc_custom_1543522466265 vc_column-gap-35">
<div class="vc_col-sm-6 wpb_column vc_column_container "  data-wow-delay="0ms">
<div class="wpb_wrapper">
  
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
  <h2>SCORE BEBÉ</h2>
<p>Herramienta que debe ser más<br />
estudiada previo implementación.</p>
<p><a [routerLink]="['/login']">comenzar evaluación</a></p>

</div>
</div>

</div> <!-- END .wpb_wrapper -->
</div> <!-- END  wpb_column vc_column_container  -->

<div class="vc_col-sm-6 wpb_column vc_column_container "  data-wow-delay="0ms">
<div class="wpb_wrapper">
  
</div> <!-- END .wpb_wrapper -->
</div> <!-- END  wpb_column vc_column_container  -->
</div><div class="vc_row-full-width vc_clearfix"></div></div>
<div  class="ivan-custom-wrapper theme_default "  style="padding-top: 0px;padding-bottom: 0px;margin-top: 0px;margin-bottom: 0px;">
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid intro vc_custom_1543522541588 vc_column-gap-35">
<div class="vc_col-sm-2 wpb_column vc_column_container "  data-wow-delay="0ms">
<div class="wpb_wrapper">
  
</div> <!-- END .wpb_wrapper -->
</div> <!-- END  wpb_column vc_column_container  -->

<div class="vc_col-sm-8 wpb_column vc_column_container "  data-wow-delay="0ms">
<div class="wpb_wrapper">
  
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
  <p>El <strong>Score Bebé</strong> es una puntuación numérica que permite estimar el riesgo de muerte neonatal en el Ecuador; sin embargo, no ha sido validada prospectivamente y tampoco ha sido aprobada por el Ministerio de Salud Pública para su utilización.</p>
<p>Se trata de una herramienta que debe ser más estudiada previo implementación. El personal de salud debe manejar a los neonatos tal y como se señala en las normas de atención neonatal vigentes.</p>
<p><span style="color: #069efd;">Para más detalle consulte en: www.salud.gob.ec</span></p>

</div>
</div>

</div> <!-- END .wpb_wrapper -->
</div> <!-- END  wpb_column vc_column_container  -->

<div class="vc_col-sm-2 wpb_column vc_column_container "  data-wow-delay="0ms">
<div class="wpb_wrapper">
  
</div> <!-- END .wpb_wrapper -->
</div> <!-- END  wpb_column vc_column_container  -->
</div><div class="vc_row-full-width vc_clearfix"></div></div>