
.textwidget a{
	width: 100%;
	height: auto!important;
}

.textwidget p{
	text-align: center;
}

.text-widget img{
    max-width: 100%;
    height: auto;
}

.footer{
	padding: 60px 0px;
}

.bottom-footer{
	height: auto!important;
    background: #069efd;
    padding: 25px 0px;
}

.bottom-footer p{
color: #fff;
    text-align: center;
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 300;
    opacity: 0.65;
}