  <div class="iv-layout bottom-footer two-columns ">
    <div class="container">
      <div class="row">
  
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 bottom-footer-divider"></div> -->
  
                <div class="col-xs-10 col-sm-8 col-md-6 bottom-footer-left-area " style="height: 20px;">
    <div class="iv-module custom-text ">
      <div class="centered">
        All rights reserved.			</div>
    </div>        
                </div><!-- 
          --><div class="col-xs-2 col-sm-4 col-md-6 bottom-footer-right-area">
        </div>
      </div>					
    </div>
  </div>
      
    